PassengerAppRoot /home/u674409531/domains/vbscomputersystem.in/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs18/root/bin/node
PassengerStartupFile server.js
PassengerBaseURI /
PassengerRestartDir /home/u674409531/domains/vbscomputersystem.in/nodejs/tmp
SetEnv NODE_OPTIONS "--require /home/u674409531/domains/vbscomputersystem.in/public_html/.builds/config/preload-timestamp.js"
SetEnv LSNODE_CONSOLE_LOG console.log
RewriteRule ^\.builds - [F,L]